.home-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.card-container {
  display: flex;
  gap: 30px;
}

.card {
  background-color: #f9f9f9;
  width: 350px;
  height: 600px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: transform 0.2s;
  margin-top: 80px;
}

.card-image {
  width: 100%;
  height: 500px;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #555;
  flex-grow: 1;
}

/*  Bot贸n principal de la tarjeta */
.card-button {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 12px; /*  MS REDONDEADO */
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease; /*  animaci贸n suave */
}

.card-button:hover {
  background-color: #6025e9;
}

/* Responsive para m贸viles */
@media (max-width: 950px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}

/*  Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/*  Contenido del Modal */
.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

/*  Bot贸n de Confirmar del Modal */
.modal-button {
  margin: 10px 0;
  padding: 10px 20px;
  width: 100%;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 12px; /*  MS REDONDEADO */
  cursor: pointer;
  transition: background-color 0.3s ease; /*  animaci贸n suave */
}

.modal-button:hover {
  background-color: #6025e9;
}

/*  Bot贸n de Cerrar Modal */
.modal-close {
  margin-top: 15px;
  background: none;
  border: none;
  color: #000000;
  border-radius: 12px; /*  MS REDONDEADO */
  cursor: pointer;
  transition: background-color 0.3s ease; /*  animaci贸n suave */
}

.modal-close:hover {
  background-color: #6025e9;
  color: white;
}
