.home-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px; /* para evitar que los elementos se salgan en m贸viles */
}

.card-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap; /*  permite que las tarjetas bajen si no caben */
  justify-content: center; /*  centra las tarjetas cuando hay menos espacio */
}

.card {
  background-color: #f9f9f9;
  width: 350px;
  max-width: 90vw; /*  asegura que no se salga en m贸viles */
  height: 600px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: transform 0.2s;
  margin-top: 80px;
}

.card-image {
  width: 100%;
  height: 500px;
  max-height: 50vh; /*  asegura que no se pase en pantallas peque帽as */
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #555;
  flex-grow: 1;
}

.card-button {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #6025e9;
}

@media (max-width: 950px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    height: auto; /*  ajusta la altura en m贸viles */
  }

  .card-image {
    height: auto;
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 20px;
  }

  .card h2 {
    font-size: 16px;
  }

  .card p {
    font-size: 13px;
  }

  .card-button {
    padding: 8px 16px;
  }

  .modal-content {
    width: 90vw; /*  m谩s flexible en m贸viles */
    padding: 20px;
  }
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  max-width: 90vw; /*  para no salirse en pantallas peque帽as */
}

.modal-button {
  margin: 10px 0;
  padding: 10px 20px;
  width: 100%;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-button:hover {
  background-color: #6025e9;
}

.modal-close {
  margin-top: 15px;
  background: none;
  border: none;
  color: #000000;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-close:hover {
  background-color: #6025e9;
  color: white;
}
